header {
    color: rgba(255, 255, 255, 0.719); 
    font-size: xx-large;
    font-family: 'Vina Sans', sans-serif;
    grid-area: ph; 
    margin-top: 2px;
}

#search { 
    float: right; 
    margin-top: 12px;
    top: -40px;

}

.green { 
    height: 20px;
    background-color: rgba(26, 37, 241, 0.87);
}

.padded {
     padding:50px 10px; 
}

#bar{
    border: none;
    border-radius: 5px;
    padding: 7px;
}

#home{
    position: relative;
    top: -40px;
    font-size: 25px;  
}

.grid-container {
    display: grid;
    grid-template-areas:
        'ph ph ph ph ph'
        'ln cn cn cn cn'
        'ln cn cn cn cn'
        'ln cn cn cn cn';
}

nav {
    grid-area: ln;
}

main {
    grid-area: cn;
}

button{
    margin-top: 5px;
    width: 110px;
    height: 50px;
    background-color: rgb(26, 37, 241, 0.87);
    text-emphasis-color: rgb(24, 24, 230);
    cursor: pointer; /*mouse pointer on hover*/
    border-radius: 8px;
    border: none;
    color: white;
}
button1{
    margin-top: 5px;
    width: 110px;
    height: 50px;
    background-color: rgba(203, 203, 205, 0.87);
    text-emphasis-color: rgb(24, 24, 230);
    cursor: pointer; /*mouse pointer on hover*/
    border-radius: 8px;
    border: none;
    color: rgb(0, 0, 0);
}


p{
    width: 1200px;
    margin-left: 160px;
}


#table {
    margin-top: 5px;
    width: 1500px;
    height: 1600px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.charger-table {
    width: 30%;
    height: 300px; 
    position: relative; 
    top: 40px; 
    left: 4px;
   
}
#map {
    width: 69%; 
    height: 600px; 
    position: relative; 
    top: -415px; 
    left: 461px;
}
.charger-table2 {
    width: 85%; 
    height: 300px;
    position: relative; 
    top: -500px; 
    left: 180px;
   
}
.filter{
    width: 85%; 
    height: 300px;
    position: relative; 
    top: -275px; 
    left: 500px;

}
.button-group{
    width: 85%; 
    height: 300px;
    position: relative; 
    top: 25px; 
    left: 100px;
}
